.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: .2s;

    &_rec {
        display: block;
        position: relative;
        width: 16px;
        height: 16px;
        background: #F2F2F2;
        border: 1px solid #C7CBDF;
        cursor: pointer;
    }

    &_check {
        position: absolute;
        display: none;
        top: 2px;
        left: 1px;
    }

    &_original {
        display: none;
    }

    &_original:checked + .checkbox_rec .checkbox_check {
        display: block;
    }

    &_label {
        flex-grow: 1;
        padding: 6px 0 4px 0;
        cursor: pointer;
        @include textStyle(16px, 400, 16px);
        color: #7E858B;
    }
}

.checkbox:hover {
    gap: 12px;
}