.checkbox {
    display: flex;
    align-items: flex-end;
    position: relative;
    padding: 0 0 0 8px;

    &_label {
        cursor: pointer;
        display: block;
        position: relative;
        width: 100%;
        margin: 4px 0;
    }
    
    &_original {
        display: none;
    }
    
    &_label::before {
        display: block;
        content: "";
        position: absolute;
        top: -2px;
        left: -24px;
        width: 14px;
        height: 14px;
        border: 1px solid #bebebe;
        border-radius: 4px;
    }

    &_check {
        position: absolute;
        opacity: 0;
        top: 5px;
        left: -14px;
    }

    &_original:checked + &_check {
        opacity: 1;
    }
    
}
