.btn.btn-send {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $c-accent;
    transition: .2s;
}

.btn.btn-send:hover {
    filter: brightness(1.1);
}

.btn.btn-send:active {
    filter: brightness(0.99);
}

.btn {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 24px 40px 21px;
    @include textStyle(18px, 400, 18px);
    background-color: $c-primary;
    transition: .2s;
    color: white;
    cursor: pointer;
    svg {
        fill: white;
    }
}

.btn:hover {
    filter: brightness(1.1);
}

.btn.outlined {
    margin: 64px 0 0 0;
    padding: 18px 32px 16px;
    background-color: #fff;
    color: $c-primary;
    border: 1px solid #2A3EA4;
    transition: .2s;
}

.btn.outlined:hover {
    background-color: $c-primary;
    color: #fff;

    svg {
        fill: #fff;
    }
}

.textInput {
    padding: 18px 24px 16px 16px;
    @include textStyle(18px, 400, 18px);
    background: #FFFFFF;
    border: 1px solid #B0B5D1;
}

.textInput::placeholder {
    @include textStyle(18px, 400, 16px)
}