.offer {
    height: 558px;
    padding: 72px 0 0 0;
    position: relative;
    overflow: hidden;
    
    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        display: flex;
        flex-direction: column;

        h1 {
            margin: 0 0 64px 0;
        }
        
    }

    .btn {
        padding: 8px;

        svg {
            width: 19px;
            height: 19px;
        }
    }

    &__caption {
        margin: 24px 0 0 0;
    }

    &__phone {
        display: flex;
        align-items: stretch;

        input {
            padding: 0 24px;
            font-size: 16px;
            border: 1px solid #C0BEBE;;
        }
    }

    &__pictures {
        position: relative;

        img:last-child {
            position: absolute;
            z-index: -2;
            top: -16px;
            left: 250px;
        }
    }

    &__bg {
        position: absolute;
        z-index: -10;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        display: flex;
    }

    &__gray-bg {
        flex: 2 1 auto;
        height: 100%;
        background-color: #F8F8F8;
    }

    &__blue-bg {
        flex: 1 1 auto;
        height: 100%;
        background-color: $c-primary;
    }
}