.rent {
    padding: 40px 0 88px 0;

    .t-standart-lr {
        color: $c-dark-gray;
        margin: 34px 0 40px 0;
    }

    a.t-standart-lr {
        color: $c-primary;
        text-decoration: none;
    }
}