.t-Heading {
    @include textStyle(36px, 600, 41px);
}

.t-caption {
    @include textStyle(17px, 400, 20px);
    color: $c-gray;
}

.t-subtitle-2 {
    @include textStyle(28px, 500, 32px, uppercase);
}

.t-subtitle-4 {
    @include textStyle(20px, 500, 23px);
}

.t-service {
    @include textStyle(24px, 400, 28px)
}

.t-power {
    @include textStyle(16px, 400, 18px);
    color: $c-primary;
    text-decoration: none;
    padding: 8px 12px 6px 12px;
    border: $s-border-power;
    transition: .2s;
}

.t-power:hover {
    color: #FFFFFF;
    background-color: $c-primary;
}

.t-usage-tip {
    @include textStyle(16px, 400, 18px, uppercase);
    color: $c-dark-gray;
}

.t-standart {
    @include textStyle(16px, 400, 18px);
}

.t-standart-lr {
    @include textStyle(20px, 400, 24px);
}

.t-nav-footer {
    @include textStyle(20px, 400, 23px);
    text-decoration: none;
    color: $c-gray;
    transition: .2s;
}

.t-nav-footer:hover {
    color: $c-primary;
}

.product__power {
    @include textStyle(16px, 400, 18px);
    text-align: center;
    color: #7E858B;
}

.product__price {
    margin: 0 0 16px 0;
    @include textStyle(24px, 500, 28px);
    text-align: center;
}

.description__title {
    @include textStyle(20px, 400, 23px);
}
