$f-main: "TT Commons", "Verdana", "Helvetica", sans-serif;

$c-primary: #2A3EA4;
$c-accent: #F67F3F;
$c-gray: #7E858B;
$c-dark-gray: #5E6368;
$c-mark: #60B859;
$c-mark-bg: #E0F0DE;
$c-filter-bg: #F0F1F6;
$c-blue-pastel: #606999;

$s-border-power: 1px solid rgba(42, 62, 164, 0.3);
$s-border-product-btn: 1px solid rgba(246, 127, 63, 0.5);
$s-border-tip: 1px solid #D6D8E2;
$s-border-service: 1px solid #4255B8;